/* color-pallete : Violet */

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background-color: #f5f3ff;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: max-content;
  background-color: #5b21b6;
  color: white;
  padding-left: 15px;
  padding-right: 25px;
  height: auto;
}

.side-header {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 5px;
  font-size: 23px;
}

.side-header svg {
  width: 30px;
}

.sidebar button {
  background-color: #5b21b6;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.sidebar .sidebar-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.sidebar .additional-buttons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.main {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: white;
  box-shadow: 8px 5px 15px #8552d1;
  padding: 15px 0px 15px 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 50px;
  height: 120px;
}

.header img {
  width: 55px;
  border-radius: 25px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-pic {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  margin-top: 15px;
}

.left-pic p:first-child {
  font-weight: bold;
}

.left-pic p {
  margin: 5px 0px;
}

.search-bar {
  display: flex;
  gap: 5px;
}

.search-bar input {
  background-color: #e9e4ff;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  width: 400px;
}

.right button {
  background-color: #5b21b6;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 15px;
  margin-left: 10px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-around;
  align-items: center;
}

.profile-status {
  display: flex;
  gap: 10px;
  align-items: center;
}

.profile-status button {
  background-color: white;
}

.profile-status svg {
  color: rgb(24, 24, 24);
}

.profile-status img {
  width: 40px;
}

.content {
  padding-left: 20px;
  display: flex;
}

.projects-section {
  display: grid;
  grid-template-rows: 35px repeat(3, 230px);
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin-bottom: 25px;
}

.projects-section div:first-child {
  grid-column: 1/4;
  font-weight: bold;
  font-size: 110%;
}

.project {
  margin-right: 20px;
  background-color: #5b21b6;
  color: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #8042e3;
  height: fit-content;
}

.project p:first-child {
  margin-top: 2px;
  font-weight: bold;
}

.project p {
  margin: 10px 0px;
}

.project-icon {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin-top: 10px;
}

.righ-bar p:first-child {
  font-weight: bold;
  font-size: 110%;
}

.announcements,
.trending {
  background-color: white;
  box-shadow: 2px 2px 10px #8042e3;
  padding: 10px 20px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.announcement {
  margin-bottom: 15px;
}

.announcement p {
  font-weight: bold;
  margin: 10px 0;
}
